{% extends "pages/base.html" %}

{% block title %}ISOS{% endblock  %}
{% load static %}
{% block content %}
<style>
.btn-block {
    /* padding: 10% 0;  */
    }
</style>
<div class="row justify-content-center">
    <div class="col-xs-4 col-xl-4 align-self-center">
        <button class='btn btn-large btn-block btn-outline-primary'>
            Clound Schools
        </button>
    </div>
</div> </br>
<div class="row justify-content-center">
    <div class="col-xs-4 col-xl-4">
        <button class='btn btn-large btn-block btn-outline-warning'>
            Wang Jack
        </button>
    </div>
</div> </br>
<div class="row justify-content-center">
    <div class="col-xs-4 col-xl-4">
        <button class='btn btn-large btn-block btn-outline-success'>
            NAP
        </button>
    </div>
</div> </br>
<div class="row justify-content-center">
    <div class="col-xs-4 col-xl-4">
        <button class='btn btn-large btn-block btn-outline-secondary'>
            GÓP Ý
        </button>
    </div>
  </div>
{% endblock %}