
{% extends "pages/base.html" %}

{% block title %}THỜI KHÓA BIỂU TỔNG{% endblock  %}
{% load static %}
{% block content %}
<table class='table table-bordered text-center'>
    <tr>
        <th>TIẾT \ THỨ</th>
        <th>2</th>
        <th>3</th>
        <th>4</th>
        <th>5</th>
        <th>6</th>
        <th>7</th>
    </tr>
    <tr>
        <th rowspan="5">SÁNG</th>
        <th>Môn tiết 1</th>
        <th>Môn tiết 1</th>
        <th>Môn tiết 1</th>
        <th>Môn tiết 1</th>
        <th>Môn tiết 1</th>
        <th>Môn tiết 1</th>
    </tr>
    <tr>
        <th>Môn tiết 2</th>
        <th>Môn tiết 2</th>
        <th>Môn tiết 2</th>
        <th>Môn tiết 2</th>
        <th>Môn tiết 2</th>
        <th>Môn tiết 2</th>
    </tr>
    <tr>
        <th>Môn tiết 3</th>
        <th>Môn tiết 3</th>
        <th>Môn tiết 3</th>
        <th>Môn tiết 3</th>
        <th>Môn tiết 3</th>
        <th>Môn tiết 3</th>
    </tr>
    <tr>
        <th>Môn tiết 4</th>
        <th>Môn tiết 4</th>
        <th>Môn tiết 4</th>
        <th>Môn tiết 4</th>
        <th>Môn tiết 4</th>
        <th>Môn tiết 4</th>
    </tr>
    <tr>
        <th>Môn tiết 5</th>
        <th>Môn tiết 5</th>
        <th>Môn tiết 5</th>
        <th>Môn tiết 5</th>
        <th>Môn tiết 5</th>
        <th>Môn tiết 5</th>
    </tr>
    <tr>
        <th rowspan="5">CHIỀU</th>
        <th>Môn tiết 1</th>
        <th>Môn tiết 1</th>
        <th>Môn tiết 1</th>
        <th>Môn tiết 1</th>
        <th>Môn tiết 1</th>
        <th>Môn tiết 1</th>
    </tr>
    <tr>
        <th>Môn tiết 2</th>
        <th>Môn tiết 2</th>
        <th>Môn tiết 2</th>
        <th>Môn tiết 2</th>
        <th>Môn tiết 2</th>
        <th>Môn tiết 2</th>
    </tr>
    <tr>
        <th>Môn tiết 3</th>
        <th>Môn tiết 3</th>
        <th>Môn tiết 3</th>
        <th>Môn tiết 3</th>
        <th>Môn tiết 3</th>
        <th>Môn tiết 3</th>
    </tr>
    <tr>
        <th>Môn tiết 4</th>
        <th>Môn tiết 4</th>
        <th>Môn tiết 4</th>
        <th>Môn tiết 4</th>
        <th>Môn tiết 4</th>
        <th>Môn tiết 4</th>
    </tr>
    <tr>
        <th>Môn tiết 5</th>
        <th>Môn tiết 5</th>
        <th>Môn tiết 5</th>
        <th>Môn tiết 5</th>
        <th>Môn tiết 5</th>
        <th>Môn tiết 5</th>
    </tr>
</table>
{% endblock %}