{% extends "pages/base.html" %}

{% block title %}ISOS{% endblock  %}
{% load static %}
{% block content %}
<div class="row">
    <div class="col-3 mt-5 ">
        Forums <br>
        <a href="/wj/top">Bảng xếp hạng</a> <br>
        Ngân hàng tri thức <br>
        Trắc nghiệm <br>
        Bài văn mẫu <br>
        Gián Án <br>
        Bài Giảng <br>
        Đơn - Bản mẫu <br>
    </div>

    <div class="col-6 mt-5 ">
    <div class='text-center'>
        <h1>Wang Jack</h1>
        <p>Hệ thống câu hỏi, thi thử, thi kiến thức giáo dục.</p>
    </div>
    <div>
        <h1>THỂ LOẠI</h1>
            <h2>BÀI GIẢNG</h2>
            <h2>GIÁO ÁN</h2>
            <h2>ĐỀ THI</h2>
            <h2>ĐỀ KIỂM TRA</h2>
            <h2>VĂN MẪU</h2>
        <h1><a href="wj/best">CHUYÊN MÔN</a></h1>
            <h2>HÓA HỌC</h2>
            <h2>VĂN HỌC</h2>
                <h3>TÁC GIẢ</h3>
                <h3>NHÀ THƠ</h3>
            <h2>TIN HỌC</h2>
                <h3>PASCAL</h3>
                    <h4>BÀI TẬP</h4>
            <h2>LỊCH SỬ</h2>
                <h3>NHÀ BÁC HỌC</h3>
    </div>
    <button onclick="window.location.href='wj/thi-thu'">THI THỬ</button>
    <button onclick="window.location.href='wj/thi'">THI</button>

    <div class='container-fluid'>
            <div align='leght'>
                <a href="/">CS</a>
            </div>
        </div>


        

<div>
    <h1>MẸO HAY</h1>
    <h1>CÂU ĐỐ</h1>
    <h1>KHỐI TỰ NHIÊN</h1>
        <h2>TOÁN</h2>
        <h2>LÝ</h2>
        <h2>HÓA</h2>
    <h1>KHỐI XÃ HỘI</h1>
        <h2>GDCD</h2>
        <h2>LỊCH SỬ</h2>
        <h2>ĐỊA</h2>
</div>
<div>
    <h1>KHU VỰC ĐIỀU HÀNH</h1>
    <h2>Thông báo</h2>
    <h2>Hướng dẫn sử dụng</h2>
    <h2>Thắc mắc góp ý</h2>
</div>
<div>
    <h1>CỘNG ĐỒNG TOÁN HỌC</h1>
</div>
<div>
    <h1>CỘNG ĐỒNG HÓA HỌC</h1>
</div>
<div>
    <h1>CỘNG ĐỒNG VẬT LÝ</h1>
</div>
<div>
    <h1>CỘNG ĐỒNG ANH VĂN</h1>
</div>
<div>
    <h1>GÓC HỌC TẬP</h1>
</div>
<div>
    <h1>KĨ NĂNG SỐNG</h1>
</div>
<div>
    <h1>Giải trí</h1>
    <h2>Liên minh huyền thoại</h2>
    <h2>Liên quân</h2>
    <h2>Free fine</h2>
    <h2>PUPG</h2>
</div>
<div>
    <h1>KHU VỰC CẤM</h1>
    <h2>Thùng rác</h2>
</div>

<!-- #1 -->

<h1 class="text-center">BÀI KIỂM TRA</h1>
        <div class='row'>
            <div class="col">
                <strong>Trường:</strong> <br>
                <strong>Họ và tên:</strong> <br>
                <strong>Lớp:</strong> <br>
                <strong>Môn:</strong> <br>
            </div>
            <div class='col'>
                <strong>Thời gian còn lại:</strong> <br>
                <strong>Mã đề:</strong>
            </div>
        </div>

<!-- 2 -->
    </div>

    <div class="col-3 mt-5 ">
    </div>

</div>
{% endblock %}