{% extends "pages/base.html" %}

{% block title %}Wang Jack Top{% endblock  %}
{% load static %}
{% block content %}
<div class='row'>
    
    <div class='col-3 mt-2 ' >
        <div class="list-group text-center" >
            <span class="list-group-item active">HAY GIÚP ĐỠ:</span>
            <span class="list-group-item">HẠNG 1:</span>
            <span class="list-group-item">HẠNG 2:</span>
            <span class="list-group-item">HẠNG 3:</span>
        </div>
    </div>

    <div class='col-3 mt-2' >
        <div class="list-group text-center" >
            <span class="list-group-item active">SỐ THÀNH VIÊN:</span>
            <span class="list-group-item">HẠNG 1:</span>
            <span class="list-group-item">HẠNG 2:</span>
            <span class="list-group-item">HẠNG 3:</span>
        </div>
    </div>
    
    <div class='col-3 mt-2' >
        <div class="list-group text-center" >
            <span class="list-group-item active">TRỰC TUYẾN NHIỀU NHẤT:</span>
            <span class="list-group-item">HẠNG 1:</span>
            <span class="list-group-item">HẠNG 2:</span>
            <span class="list-group-item">HẠNG 3:</span>
        </div>
    </div>

    <div class='col-3 mt-2' >
        <div class="list-group text-center" >
            <span class="list-group-item active">MƯỢN SÁCH THƯ VIỆN:</span>
            <span class="list-group-item">HẠNG 1:</span>
            <span class="list-group-item">HẠNG 2:</span>
            <span class="list-group-item">HẠNG 3:</span>
        </div>
    </div>
</div>
{% endblock %}